@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: #1b283b;
}

button, a {
  cursor: pointer;
}

button:focus {
  border: none;
  outline: none;
}

a {
  text-decoration: unset;
}

p, a, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  line-height: 1.5;
}

.container {
  max-width: 1540px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  margin: 0 auto;
}

.dn {
  display: none;
}

body {
  margin: 0;
}

.df {
  display: flex;
}

.dg-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.dg-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.dg-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.dg-5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.dg-6 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.jst-b {
  justify-content: space-between;
}
.jst-c {
  justify-content: center;
}
.jst-fe {
  justify-content: flex-end;
}
.jst-fs {
  justify-content: flex-start;
}

.alg-c {
  align-items: center;
}
.alg-fe {
  align-items: flex-end;
}
.alg-fs {
  align-items: flex-start;
}

html {
  font-family: "Ubuntu", sans-serif;
}

.text {
  /* font size */
  /* font weight */
  /* font styles */
  /* font colors */
}
.text-70 {
  font-size: 70px;
}
@media screen and (max-width: 540px) {
  .text-70 {
    font-size: 42px;
  }
}
.text-48 {
  font-size: 48px;
}
@media screen and (max-width: 540px) {
  .text-48 {
    font-size: 34px;
  }
}
.text-39 {
  font-size: 39px;
}
.text-36 {
  font-size: 36px;
}
.text-40 {
  font-size: 40px;
}
@media screen and (max-width: 540px) {
  .text-40 {
    font-size: 28px;
  }
}
.text-30 {
  font-size: 30px;
}
@media screen and (max-width: 540px) {
  .text-30 {
    font-size: 24px;
  }
}
.text-25 {
  font-size: 25px;
}
@media screen and (max-width: 540px) {
  .text-25 {
    font-size: 21px;
  }
}
.text-22 {
  font-size: 22px;
}
@media screen and (max-width: 540px) {
  .text-22 {
    font-size: 18px;
  }
}
.text-20 {
  font-size: 20px;
}
@media screen and (max-width: 540px) {
  .text-20 {
    font-size: 16px;
  }
}
.text-18 {
  font-size: 18px;
}
.text-16 {
  font-size: 16px;
}
@media screen and (max-width: 540px) {
  .text-16 {
    font-size: 15px;
  }
}
.text-14 {
  font-size: 14px;
}
.text-boldest {
  font-weight: 900;
}
.text-extrabold {
  font-weight: 800;
}
.text-bold {
  font-weight: 700;
}
.text-semi {
  font-weight: 600;
}
.text-medium {
  font-weight: 500;
}
.text-regular {
  font-weight: 400;
}
.text-small {
  font-weight: 300;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-center {
  text-align: center;
}
.text-red {
  color: #ef4041;
}
.text-blue {
  color: #1b283b;
}
.text-bluelight {
  color: #34435C;
}
.text-bluedark {
  color: rgba(0, 0, 0, 0.2);
}
.text-graylight {
  color: #adb9cc;
}
.text-white {
  color: white;
}
.text-italic {
  font-style: italic;
}

.btn-primary {
  font-size: 18px;
  padding: 0 38px;
  border-radius: 16px;
  display: flex;
  height: 50px;
  align-items: center;
  color: white;
  border: 2px solid #ef4041;
  box-sizing: border-box;
  background-color: #ef4041;
  position: relative;
  transition: 0.3s;
}
.btn-primary.blue {
  background-color: #1b283b;
  background-color: #5C779C;
  color: white;
  border-color: #5C779C;
}
.btn-primary.white {
  background-color: white;
  color: black;
  border-color: white;
}
.btn-primary.white:after {
  filter: invert(1);
}
.btn-primary:after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("/public/img/arrow-right.svg");
  background-size: contain;
  top: 14px;
  right: 30px;
  opacity: 0;
  transition: 0.3s;
}
.btn-primary:hover {
  padding-right: 50px;
}
.btn-primary:hover:after {
  opacity: 1;
  right: 12px;
}
.btn-secondary {
  font-size: 18px;
  transition: 0.3s;
  padding: 0 38px;
  border-radius: 16px;
  display: flex;
  height: 50px;
  align-items: center;
  border: 2px solid white;
  box-sizing: border-box;
  color: black;
  background-color: white;
}
.btn-theritary {
  font-size: 18px;
  padding: 0 38px;
  border-radius: 16px;
  display: flex;
  height: 50px;
  align-items: center;
  color: white;
  border: 2px solid #ef4041;
  box-sizing: border-box;
  background-color: transparent;
  transition: 0.3s;
}
input:focus {
  outline: unset;
}

textarea {
  width: 100%;
  font-family: "Ubuntu", sans-serif;
  margin-top: 40px;
  padding: 15px;
  border-radius: 16px;
  box-sizing: border-box;
  color: black;
  background-color: #34435C;
  border: unset;
  color: white;
}
textarea:focus {
  outline: unset;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 50px;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.hamburger {
  display: none;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  padding-top: 15px;
  box-sizing: border-box;
  height: 65px;
  top: 0;
  right: -20px;
  padding-right: 30px;
  padding-left: 20px;
  z-index: 3;
}
@media screen and (max-width: 720px) {
  .hamburger {
    display: block;
  }
}

.hamburgericon {
  z-index: 2;
  color: white;
  cursor: pointer;
  box-sizing: border-box;
  width: 52px;
  height: 52px;
  position: relative;
  color: white;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(239, 64, 65);
  border-image: initial;
  transition: all 0.2s ease 0s;
  padding: 6px;
  display: none;
}
@media screen and (max-width: 720px) {
  .hamburgericon {
    display: block;
  }
}
.hamburgericon.active {
  background-color: #ef4041;
}
.hamburgericon.active .hamburgericon-content span {
  background-color: white;
}
.hamburgericon-content {
  position: relative;
}
.hamburgericon-content span {
  background-color: rgb(239, 64, 65);
  display: block;
  height: 2px;
  position: absolute;
  top: 30px;
  opacity: 1;
  transform: rotate(0deg);
  z-index: 1;
  width: 15px;
  border-radius: 0px;
  transition: all 0.2s ease 0s;
  right: 0;
  top: 0;
}
.hamburgericon-content span:nth-child(2) {
  top: 5px;
}
.hamburgericon-content span:nth-child(3) {
  top: 10px;
}

.header {
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #1b283b;
  position: fixed;
  width: 100%;
  top: 0;
}
@media screen and (max-width: 720px) {
  .header {
    position: fixed;
    width: 100%;
    top: 0;
  }
  .header:after {
    position: absolute;
    background-color: #1b283b;
    height: 80px;
    width: 100%;
    z-index: 1;
    content: "";
    left: 0;
    top: 0;
  }
}
.header .logo {
  z-index: 2;
}
.header .logo img {
  height: 51px;
}
@media screen and (max-width: 720px) {
  .header .logo img {
    height: 40px;
  }
}
@media screen and (max-width: 720px) {
  .header nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    line-height: 2.5;
    transition: all 0.2s ease 0s;
    background-color: #1b283b;
    width: 100%;
    z-index: 0;
    transform: translateY(-100%);
    box-shadow: 5px 5px 31px 5px rgba(0, 0, 0, 0.2);
  }
  .header nav.active {
    transform: translateY(0);
  }
}
.header nav a {
  padding-left: 12px;
  padding-right: 12px;
  font-weight: 300;
  transition: 0.2s;
}
.header nav a:hover {
  color: white;
}

.footer {
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
  gap: 60px;
  overflow: hidden;
}
@media screen and (max-width: 950px) {
  .footer {
    flex-direction: column;
  }
}
.footer__content {
  min-width: 400px;
}
.footer__content p {
  max-width: calc(100vw - 40px);
}
.footer__content a {
  line-height: 1.5;
}
.footer__content-top {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer__content-top img {
  max-width: 80px;
}
.footer .icon-mail {
  filter: brightness(0) invert(1);
  margin-right: 5px;
  transition: 0.3s;
}
.footer a {
  transition: 0.3s;
}
.footer a:hover {
  color: #ef4041;
}
@media screen and (max-width: 720px) {
  .mainscreen {
    padding-top: 80px;
  }
}
.mainscreen__content {
  padding-top: 150px;
  padding-bottom: 123px;
}

.blanklinks {
  background-color: rgba(0, 0, 0, 0.2);
  padding-top: 80px;
  padding-bottom: 80px;
  margin-bottom: 100px;
}
.blanklinks .container {
  display: flex;
  justify-content: center;
  gap: 60px;
  row-gap: 80px;
  flex-wrap: wrap;
}
.blanklinks .services__item {
  min-height: 295px;
}
.blanklinks .services__item > img {
  height: 80px;
}
.blanklinks .services__item .df {
  margin-top: auto;
}
.blanklinks .services__item .df a {
  position: relative;
  overflow: hidden;
}
.blanklinks .services__item .df a:hover {
  padding-right: 60px;
}
.blanklinks .services__item .df a:hover img {
  opacity: 0.8;
  right: 20px;
}
.blanklinks .services__item .df a img {
  transition: 0.2s;
  position: absolute;
  opacity: 0;
  right: -20px;
}

.contactform p.forminfo {
  font-style: italic;
  font-weight: 300 !important;
  opacity: 0.8;
  margin-top: 8px !important;
}
.contactform .form {
  padding: 50px;
  padding-top: 24px;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  box-sizing: border-box;
  margin: 0 auto;
  border-radius: 16px;
  box-shadow: 0px 0px 46px rgba(0, 0, 0, 0.05);
}
@media screen and (max-width: 750px) {
  .contactform .form {
    padding: 20px;
  }
}
.contactform .form > p {
  margin-top: 35px;
}
.contactform .form > .text-19 {
  margin-bottom: 27px;
  margin-top: 0;
}
.contactform .form__select {
  margin-top: 14px;
  display: flex;
  gap: 10px;
  row-gap: 22px;
  flex-wrap: wrap;
  padding-top: 10px;
}
.contactform .form__select-item {
  height: 33px;
}
.contactform .form__select label {
  cursor: pointer;
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.1);
}
.contactform .form__select input {
  display: none;
}
.contactform .form button {
  margin-top: 20px;
  margin-left: auto;
}
.contactform input[type=text] {
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.1);
  border: unset;
  border: 30px;
  height: 33px;
  padding-left: 10px;
  padding-right: 10px;
  border: none !important;
  box-sizing: border-box;
  color: white;
  font-size: 16px;
  border-radius: 12px;
  background-color: #34435C;
}

.label-for-check {
  padding: 10px 14px;
  border: 2px solid #34435C;
  border-radius: 16px;
  opacity: 0.3;
  transition: 0.1s;
}
.label-for-check:hover {
  opacity: 0.5;
}

.check-with-label:checked + .label-for-check {
  color: white;
  background-color: #ef4041;
  border-color: #ef4041;
  opacity: 1;
}

.check-with-label2:checked + .label-for-check {
  color: white;
  background-color: #ef4041;
}

.input__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 45px;
  row-gap: 16px;
}
@media screen and (max-width: 750px) {
  .input__container {
    grid-template-columns: 1fr;
  }
}
.input__group {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.success {
  display: none;
  background: #41d78f;
  padding: 20px;
  margin-top: 16px;
  margin-bottom: 16px;
  justify-content: flex-end;
  color: rgba(0, 0, 0, 0.2);
}
.success.is-active {
  display: flex;
}

.failed {
  display: none;
  background: #f8e1e1;
  padding: 20px;
  margin-top: 16px;
  margin-bottom: 16px;
  justify-content: flex-end;
}
.failed.is-active {
  display: flex;
}

.lSSlideOuter {
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.lightSlider:before, .lightSlider:after {
  content: " ";
  display: table;
}

.lightSlider {
  overflow: hidden;
  margin: 0;
}

.lSSlideWrapper {
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

.lSSlideWrapper > .lightSlider:after {
  clear: both;
}

.lSSlideWrapper .lSSlide {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-transition: all 1s;
  -webkit-transition-property: -webkit-transform, height;
  -moz-transition-property: -moz-transform, height;
  transition-property: transform, height;
  -webkit-transition-duration: inherit !important;
  transition-duration: inherit !important;
  -webkit-transition-timing-function: inherit !important;
  transition-timing-function: inherit !important;
}

.lSSlideWrapper .lSFade {
  position: relative;
}

.lSSlideWrapper .lSFade > * {
  position: absolute !important;
  top: 0;
  left: 0;
  z-index: 9;
  margin-right: 0;
  width: 100%;
}

.lSSlideWrapper.usingCss .lSFade > * {
  opacity: 0;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-duration: inherit !important;
  transition-duration: inherit !important;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing-function: inherit !important;
  transition-timing-function: inherit !important;
}

.lSSlideWrapper .lSFade > *.active {
  z-index: 10;
}

.lSSlideWrapper.usingCss .lSFade > *.active {
  opacity: 1;
}

/** /!!! End of core css Should not edit !!!/**/
/* Pager */
.lSSlideOuter .lSPager.lSpg {
  margin: 10px 0 0;
  padding: 0;
  text-align: center;
  margin-top: 66px !important;
}

.lSSlideOuter .lSPager.lSpg > li {
  cursor: pointer;
  display: inline-block;
  padding: 0 5px;
}

.lSSlideOuter .lSPager.lSpg > li a {
  background-color: white;
  border-radius: 30px;
  display: inline-block;
  height: 8px;
  overflow: hidden;
  text-indent: -999em;
  width: 8px;
  position: relative;
  border: 1px solid #1b283b;
  z-index: 99;
  -webkit-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s;
}

.lSSlideOuter .lSPager.lSpg > li:hover a, .lSSlideOuter .lSPager.lSpg > li.active a {
  background-color: #ef4041;
  border-color: #ef4041;
}

.lSSlideOuter .media {
  opacity: 0.8;
}

.lSSlideOuter .media.active {
  opacity: 1;
}

/* End of pager */
/** Gallery */
.lSSlideOuter .lSPager.lSGallery {
  list-style: none outside none;
  padding-left: 0;
  margin: 0;
  overflow: hidden;
  transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate3d(0px, 0px, 0px);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.lSSlideOuter .lSPager.lSGallery li {
  overflow: hidden;
  -webkit-transition: border-radius 0.12s linear 0s 0.35s linear 0s;
  transition: border-radius 0.12s linear 0s 0.35s linear 0s;
}

.lSSlideOuter .lSPager.lSGallery li.active, .lSSlideOuter .lSPager.lSGallery li:hover {
  border-radius: 5px;
}

.lSSlideOuter .lSPager.lSGallery img {
  display: block;
  height: auto;
  max-width: 100%;
}

.lSSlideOuter .lSPager.lSGallery:before, .lSSlideOuter .lSPager.lSGallery:after {
  content: " ";
  display: table;
}

.lSSlideOuter .lSPager.lSGallery:after {
  clear: both;
}

/* End of Gallery*/
/* slider actions */
.lSAction > a {
  width: 32px;
  display: block;
  top: 50%;
  height: 32px;
  background-image: url("/public/img/components/controls.png");
  cursor: pointer;
  position: absolute;
  z-index: 99;
  margin-top: -16px;
  opacity: 0.5;
  -webkit-transition: opacity 0.35s linear 0s;
  transition: opacity 0.35s linear 0s;
}

.lSAction > a:hover {
  opacity: 1;
}

.lSAction > .lSPrev {
  background-position: 0 0;
  left: 10px;
}

.lSAction > .lSNext {
  background-position: -32px 0;
  right: 10px;
}

.lSAction > a.disabled {
  pointer-events: none;
}

.cS-hidden {
  height: 1px;
  opacity: 0;
  filter: alpha(opacity=0);
  overflow: hidden;
}

/* vertical */
.lSSlideOuter.vertical {
  position: relative;
}

.lSSlideOuter.vertical.noPager {
  padding-right: 0px !important;
}

.lSSlideOuter.vertical .lSGallery {
  position: absolute !important;
  right: 0;
  top: 0;
}

.lSSlideOuter.vertical .lightSlider > * {
  width: 100% !important;
  max-width: none !important;
}

/* vertical controlls */
.lSSlideOuter.vertical .lSAction > a {
  left: 50%;
  margin-left: -14px;
  margin-top: 0;
}

.lSSlideOuter.vertical .lSAction > .lSNext {
  background-position: 31px -31px;
  bottom: 10px;
  top: auto;
}

.lSSlideOuter.vertical .lSAction > .lSPrev {
  background-position: 0 -31px;
  bottom: auto;
  top: 10px;
}

/* vertical */
/* Rtl */
.lSSlideOuter.lSrtl {
  direction: rtl;
}

.lSSlideOuter .lightSlider, .lSSlideOuter .lSPager {
  padding-left: 0;
  list-style: none outside none;
}

.lSSlideOuter.lSrtl .lightSlider, .lSSlideOuter.lSrtl .lSPager {
  padding-right: 0;
}

.lSSlideOuter .lightSlider > *, .lSSlideOuter .lSGallery li {
  float: left;
}

.lSSlideOuter.lSrtl .lightSlider > *, .lSSlideOuter.lSrtl .lSGallery li {
  float: right !important;
}

/* Rtl */
@-webkit-keyframes rightEnd {
  0% {
    left: 0;
  }
  50% {
    left: -15px;
  }
  100% {
    left: 0;
  }
}
@keyframes rightEnd {
  0% {
    left: 0;
  }
  50% {
    left: -15px;
  }
  100% {
    left: 0;
  }
}
@-webkit-keyframes topEnd {
  0% {
    top: 0;
  }
  50% {
    top: -15px;
  }
  100% {
    top: 0;
  }
}
@keyframes topEnd {
  0% {
    top: 0;
  }
  50% {
    top: -15px;
  }
  100% {
    top: 0;
  }
}
@-webkit-keyframes leftEnd {
  0% {
    left: 0;
  }
  50% {
    left: 15px;
  }
  100% {
    left: 0;
  }
}
@keyframes leftEnd {
  0% {
    left: 0;
  }
  50% {
    left: 15px;
  }
  100% {
    left: 0;
  }
}
@-webkit-keyframes bottomEnd {
  0% {
    bottom: 0;
  }
  50% {
    bottom: -15px;
  }
  100% {
    bottom: 0;
  }
}
@keyframes bottomEnd {
  0% {
    bottom: 0;
  }
  50% {
    bottom: -15px;
  }
  100% {
    bottom: 0;
  }
}
.lSSlideOuter .rightEnd {
  -webkit-animation: rightEnd 0.3s;
  animation: rightEnd 0.3s;
  position: relative;
}

.lSSlideOuter .leftEnd {
  -webkit-animation: leftEnd 0.3s;
  animation: leftEnd 0.3s;
  position: relative;
}

.lSSlideOuter.vertical .rightEnd {
  -webkit-animation: topEnd 0.3s;
  animation: topEnd 0.3s;
  position: relative;
}

.lSSlideOuter.vertical .leftEnd {
  -webkit-animation: bottomEnd 0.3s;
  animation: bottomEnd 0.3s;
  position: relative;
}

.lSSlideOuter.lSrtl .rightEnd {
  -webkit-animation: leftEnd 0.3s;
  animation: leftEnd 0.3s;
  position: relative;
}

.lSSlideOuter.lSrtl .leftEnd {
  -webkit-animation: rightEnd 0.3s;
  animation: rightEnd 0.3s;
  position: relative;
}

/*/  GRab cursor */
.lightSlider.lsGrab > * {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}

.lightSlider.lsGrabbing > * {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: -o-grabbing;
  cursor: -ms-grabbing;
  cursor: grabbing;
}

.slideshow {
  display: flex;
  align-items: center;
  padding-top: 180px;
  margin-bottom: 130px;
  min-height: 20vh;
}
@media screen and (max-width: 900px) {
  .slideshow {
    padding-top: 110px;
  }
}
@media screen and (max-width: 600px) {
  .slideshow {
    padding-top: 50px;
  }
}
.slideshow__main-item {
  position: relative;
}
.slideshow__main-item > div {
  flex-wrap: wrap-reverse;
  gap: 10px;
}
@media screen and (max-width: 650px) {
  .slideshow__main-item > div {
    gap: 30px;
  }
  .slideshow__main-item > div img {
    max-height: 90px;
    margin-left: 0;
  }
}
.slideshow__main-item-image {
  z-index: -1;
  display: flex;
  align-items: center;
  padding-right: 100px;
  right: 0;
}
@media screen and (max-width: 650px) {
  .slideshow__main-item-image {
    justify-content: flex-start !important;
  }
}
.slideshow__main-item-image img {
  margin: 0 auto;
  width: 100%;
  max-height: 300px;
}
@media screen and (max-width: 650px) {
  .slideshow__main-item-image img {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 650px) {
  .slideshow__main-item.year img {
    position: relative;
    left: 0;
  }
}
.slideshow__main-item p {
  max-width: 820px;
}
.slideshow__main-item .text-48 {
  line-height: 1;
}
.slideshow__main-item .text-18 {
  margin-top: 17px;
  margin-bottom: 35px;
}
.slideshow__main-item .buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
}

.about {
  margin-bottom: 100px;
}
.about .container > .text-18 {
  max-width: 720px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.about .container > .text-48 {
  margin-bottom: 20px;
}
.about .container > .text-20 {
  margin-bottom: 10px;
}
.about__users {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 60px;
}
.about__item {
  text-align: center;
}
.about__item-profile {
  border-radius: 50%;
  width: 180px;
  margin-bottom: 20px;
}
.about__item .text-18 {
  margin-top: 5px;
}
.about__item a:hover {
  text-decoration: underline;
}
.about__item-dots {
  margin-top: 15px;
}

.services {
  margin-bottom: 100px;
}
.services .text-48 {
  margin-bottom: 20px;
}
.services .text-italic {
  max-width: 750px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.services__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  gap: 20px;
  row-gap: 120px;
}
.services .text-20 {
  margin-bottom: 60px;
}
.services__item {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}
.services__item .df {
  margin-top: auto;
}
.services__item > img {
  height: 80px;
  margin-bottom: auto;
}
.services__item .text-36 {
  margin-bottom: 6px;
}
.services__item .text-18 {
  margin-bottom: 30px;
  min-height: 108;
  min-height: 75px;
  max-width: 430px;
  margin-left: auto;
  margin-right: auto;
}
.services__item .btn-primary.blue {
  background-color: #1b283b;
  background-color: #5C779C;
  color: white;
  border-color: #5C779C;
}
.services__item .btn-primary.white {
  background-color: white;
  color: black;
  border-color: white;
}
.services__item .btn-primary.white:after {
  filter: invert(1);
}
.services .lSSlideOuter .lSPager.lSpg {
  margin-top: 20px !important;
  margin-bottom: 40px;
}
@media screen and (min-width: 1380px) {
  .services .lSSlideOuter .lSPager.lSpg {
    opacity: 0;
  }
}
.services .lSSlideOuter {
  margin-bottom: 40px;
}
@media screen and (max-width: 720px) {
  .services .lSSlideOuter {
    margin-bottom: 80px;
  }
}
.services .lSAction > a {
  top: calc(100% - 25px);
}
.services__description {
  max-width: 854px;
  text-align: left;
  margin-left: 0;
}
.services__description p {
  margin-left: 0;
  margin-right: auto;
  line-height: 1.7;
}
.services__description .text-39 {
  margin-bottom: 16px;
}
.services__description > .text-18, .services__description .servicess_description-plus {
  margin-bottom: 80px;
}
.services__description .servicess_description-plus p {
  margin-bottom: 2px;
}
.services__description .df {
  margin-bottom: 101px;
}

.slideshowflex, .slideshowflex2 {
  min-height: 340px !important;
}