.about{
    margin-bottom: 100px;
    .container{
        & > .text-18{
            max-width: 720px;
            margin: 0 auto;
            margin-bottom: 60px;
       }
       & > .text-48{
            margin-bottom: 20px
       }
       & > .text-20{
            margin-bottom: 10px
       }
    }

    &__users{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        row-gap: 60px;
    }

    &__item{
        text-align: center;
        &-profile{
            border-radius: 50%;
            width: 180px;
            margin-bottom: 20px;
        }

        .text-18{
            margin-top: 5px;
        }
        
        a:hover{
            text-decoration: underline;
        }

        &-dots{
            margin-top: 15px;
        }
    }
}