.blanklinks{
    background-color: $dark-blue;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-bottom: 100px;
    .container{
        display: flex;
        justify-content: center;
        gap: 60px;
        row-gap: 80px;
        flex-wrap: wrap;
    }
    .services__item{
        & > img{
            height: 80px;
        }
        min-height: 295px;
        .df{
            margin-top: auto;
            a{
                position: relative;
                overflow: hidden;
                &:hover{
                    padding-right: 60px;
                    img{
                        opacity: .8;
                        right: 20px;
                    }
                }
                img{
                    transition: .2s;
                    position: absolute;
                    opacity: 0;
                    right: -20px;
                }
            }
        }
    }
}