.footer{
    
    padding-bottom: 60px;
    display: flex;
    @media screen and (max-width: 950px){
        flex-direction: column;
    }
    justify-content: center;
    gap: 60px;
    overflow: hidden;

    &__content{
        p{
            max-width: calc(100vw - 40px);
        }
        a{
            line-height: 1.5;
        }

        min-width: 400px;

        &-top{
            display: flex;
            align-items: center;
            gap: 20px;
            img{
                max-width: 80px;
            }
        }
    }

    .icon-mail{
        filter: brightness(0) invert(1);
        margin-right: 5px;
        transition: .3s;
    }

    a{
        transition: .3s;
        &:hover{
            color: $red;
        }
    }

    &__form{

    }
}