.input{

}

input:focus{
    outline: unset;
}

textarea{
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 40px;
    padding: 15px;
    border-radius: 16px;
    box-sizing: border-box;
    color: black;
    background-color: $blue-light;
    border: unset;
    color: white;

    &:focus{
        outline: unset;
    }
}